body {
  background-image: url(./assets/background.jpg);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 1%;
  padding: 10px 30px;
  margin: 0 auto;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.form-search {
  justify-self: end;
}

.pokemon-container {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  margin-left: 5px;
}

.btn:hover {
  background-color: red;
  cursor: pointer;
}
